{% extends 'addressmanager/manager.twig' %}

{% block content %}

<form action="{{ link }}" method="POST">
    <label for="fullname-{{ address.id }}">{{ lex('commerce.address.name') }} {% if address.fullname.error %}<span class="address-field-error">{{ address.fullname }}</span>{% endif %}</label>
    <input id="fullname-{{ address.id }}" type="text" name="fullname" value="{{ address.fullname }}" required>
                    
    <label for="email-{{ address.id }}">{{ lex('commerce.address.email') }} {% if address.email.error %}<span class="address-field-error">{{ address.email }}</span>{% endif %}</label>
    <input id="email-{{ address.id }}" type="email" name="email" value="{{ address.email }}" required>
                    
    <label for="company-{{ address.id }}">{{ lex('commerce.address.company') }} {% if address.company.error %}<span class="address-field-error">{{ address.company }}</span>{% endif %} <small>{{ lex('commerce.address.optional') }}</small></label>
    <input id="company-{{ address.id }}" type="text" name="company" value="{{ address.company }}">

    <label for="address1-{{ address.id }}">{{ lex('commerce.address.address') }} {% if address.address1.error %}<span class="address-field-error">{{ address.address1 }}</span>{% endif %}</label>
    <input id="address1-{{ address.id }}" type="text" name="address1" value="{{ address.address1 }}" required>
                    
    <label for="address2-{{ address.id }}">{{ lex('commerce.address.address2') }} {% if address.address2.error %}<span class="address-field-error">{{ address.address2 }}</span>{% endif %} <small>{{ lex('commerce.address.optional') }}</small></label>
    <input id="address2-{{ address.id }}" type="text" name="address2" value="{{ address.address2 }}">
                    
    <label for="zip-{{ address.id }}">{{ lex('commerce.address.zip') }} {% if address.zip.error %}<span class="address-field-error">{{ address.zip }}</span>{% endif %}</label>
    <input id="zip-{{ address.id }}" type="text" name="zip" value="{{ address.zip }}" required>
                    
    <label for="city-{{ address.id }}">{{ lex('commerce.address.city') }} {% if address.city.error %}<span class="address-field-error">{{ address.city }}</span>{% endif %}</label>
    <input id="city-{{ address.id }}" type="text" name="city" value="{{ address.city }}" required>
                    
    <label for="state-{{ address.id }}">{{ lex('commerce.address.state') }} {% if address.state.error %}<span class="address-field-error">{{ address.state }}</span>{% endif %}</label>
    <input id="state-{{ address.id }}" type="text" name="state" value="{{ address.state }}" required>
                    
    <label for="country-{{ address.id }}">{{ lex('commerce.address.country') }} {% if address.country.error %}<span class="address-field-error">{{ address.country }}</span>{% endif %}</label>
    <select name="country" id="country-{{ address.id }}">
        <option value=""></option>
        {% for code,country in countries %}
            <option value="{{ code }}" {% if address.country == code %} selected="selected" {% endif %}>{{ country }}</option>
        {% endfor %}
    </select>
                        
    <label for="phone-{{ address.id }}">{{ lex('commerce.address.phone') }} {% if address.phone.error %}<span class="address-field-error">{{ address.phone }}</span>{% endif %}</label>
    <input id="phone-{{ address.id }}" type="tel" name="phone" value="{{ address.phone }}" required>

    <input type="hidden" name="edit" value="{{ address.id }}">
    <input type="hidden" name="type" value="{{ address.type }}">
    <button class="button address-button-save" type="submit">Save</button>
</form>

<form action="{{ link }}" method="POST">
    <input type="hidden" name="delete" value="{{ address.id }}">
    <button class="button hollow alert address-button-delete">Delete</button>
</form>

{% endblock %}